subscription_id = "00000000-0000-0000-0000-000000000000"
db_password     = "YourStrongPassword123!"
ssh_allowed_ips = ["1.2.3.4/32", "5.6.7.8/32"]
enable_ssl      = false
domain_name     = "example.com"
admin_emails = [
  "admin1@example.com",
  "admin2@example.com"
]

azure_ad_tenant_domain = "yourtenant.onmicrosoft.com"

sentinel_service_principal_id = "00000000-0000-0000-0000-000000000000"

rbac_users = {
  "pm" = {
    account_name = "student_pm"
    role         = "PM"
    azure_role   = "Owner"
  }
  "arch_reviewer" = {
    account_name = "student_reviewer"
    role         = "Architect"
    azure_role   = "Reader"
  }
  "sec_external" = {
    account_name = "student_security_ext1"
    role         = "External Security"
    azure_role   = "Microsoft Sentinel Contributor"
  }
  "sec_internal1" = {
    account_name = "student_security1"
    role         = "Internal Security"
    azure_role   = "Security Admin"
  }
  "sec_internal2" = {
    account_name = "student_security2"
    role         = "Internal Security"
    azure_role   = "Log Analytics Reader"
  }
  "sec_external2" = {
    account_name = "student_security_ext2"
    role         = "External Security"
    azure_role   = "Microsoft Sentinel Contributor"
  }
}