subscription_id = "00000000-0000-0000-0000-000000000000"
db_password     = "YourStrongPassword123!"
ssh_allowed_ips = ["1.2.3.4/32", "5.6.7.8/32"]
enable_ssl      = false
domain_name     = "example.com"
admin_emails = [
  "admin1@example.com",
  "admin2@example.com"
]